/* main.css */
body{
	margin: 0;
	font-family: 'Source Code Pro', sans-serif;
	text-align: center;
}

h1{
	font-size: 4em;
}
h2{
	color: #606060;
}
a{
	color: black;
}
footer{
	position: absolute;
	bottom: 10px;
	width: 100%
}
