/* main.css */
body{
	margin: 0;
	font-family: 'Source Code Pro', sans-serif;
	text-align: center;
}

h1{
	font-size: 4em;
	margin-top: 40px;
	margin-bottom: 20px;
}
h2{
	color: #606060;
	margin-top: 20px;
	margin-bottom: 20px;
}
a{
	color: darkgreen;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%
}
